ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
requests
ruff
scikit-learn
scipy
seaborn
spacy
statsmodels
torch
plotly
tqdm
transformers
typer
vaderSentiment
-e .
